@model User



    <div class="form-group" id="left">

        <div class="col-md-3" id="left" style="position:relative;">
            <h2>@Model.Name @Model.Surname</h2>
            <h4>Firma: @Model.Company</h4>
            <h4>Stanowisko: @Model.Role</h4>
            <h4>Poziom dostępu: @Model.PermitionLevel</h4>
            <h4>ID Karty: @Model.PersonalCardId</h4>
        </div>
               
    </div>